<todo ng-repeat="item in vm.todos" todo-item="item"></todo>
<p/>
<div>
	<input type="text" ng-model="vm.newItemText"/>
	<button ng-click="vm.createItem()">Create</button>
</div>
<p/>
<div>
	<button ng-click="vm.refreshTodoItems()">Refresh</button>
</div>
<div>
	<a href="/test">Test page</a>
</div>
